<nav class="menu-text" id="main-navigation">
    <div class="page-links">
        {% for item in site.data.navigation %}
            {% if forloop.first %}
                <a class="home-link" href="{{ item.link }}"><img src="/assets/img/favicon.png" alt="accueil"/></a>
            {% else %}
                <a href="{{ item.link }}">{{ item.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% if page.class == "texte" %}
        <label for="toggle-dark-mode" aria-hidden="true">affichage sombre</label>
    {% endif %}
</nav>