<nav class="menu-text" id="main-navigation">
    <div class="page-links">
        {% for item in site.data.navigation %}
            {% if forloop.first %}
                <a class="home-link no-underline" href="{{ item.link }}"><img src="/assets/img/favicon.png" alt="accueil"/></a>
            {% else %}
                <a class="no-underline" href="{{ item.link }}">{{ item.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% if page.class == "texte" %}
        <div class="reading-params">
            <label class="link underline-at-hover" for="toggle-dark-mode" aria-hidden="true">affichage sombre</label>
            <label class="link underline-at-hover" for="toggle-narrow-mode" aria-hidden="true">limiter la largeur</label>
        </div>
    {% endif %}
</nav>