// apply darkmode when checkbox checked
#toggle-dark-mode:checked ~ main#main-container
    color: $beige
    background-color: $black

    a
        color: $beige
        &:visited, &:hover
            color: $beige

        border-color: $beige

    hr
        border-color: $beige

    .textes-list
        a
            border-color: $beige

    .menu-text
        a, a.home-link > img
            border-color: $beige

    .texte-year, .word-count
        color: $light-grey
